.bookList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bookList li {
  margin: 10px;
  text-align: center;
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  
}

.bookList img {
  width: 100%;
  height: 300px;
}

.bookList h3 {
  font-size: 18px;
  margin-top: 15px;
}

.bookList h4 {
  font-size: 15px;
  margin-top: 10px;
}