@import './reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.menu a {
  color: gray;
}

.wrap {
  background-color: rgb(250, 250, 250);
}

.darkMode {
  background-color: #000;
}

.darkMode .wrap ,p{
  background-color: #000 !important;
  color: #fff;
}