.container {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}

.container h2 {
  font-size: 1.5rem;
}

.container a {
  text-decoration: none;
  color: gray;
}

.container h2 {
  color: gray;
}

.container a:hover {
  color: #000;
}

.btn {
  border-radius: 30px;
  padding: 10px;
  background-color: #fff;
}
