.book {
  margin: 10px;
  text-align: center;
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.book h3 {
  font-size: 18px;
  margin-top: 15px;
}

.book h4 {
  font-size: 14px;
  margin-top: 1%;
  text-decoration: underline;
}

.book p {
  margin-top: 5%;
  font-size: 14px;
  font-weight: bold;
}

.book img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.book-card,
.btn-area,
.book-btn {
  cursor: pointer;
}

.heart-btn,
.cart-btn,
.book-btn {
  width: 50%;
  line-height: 3rem;
}

.heart-btn:hover,
.cart-btn:hover,
.book-btn:hover {
  background-color: lightgray;
}
