.book-info {
  
}

.action-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.action-btn button {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  width: 50%;
}

.buy-btn {
  background-color: #e98192;
}

.buy-btn:hover {
  background-color: lightpink
}

.add-to-cart-btn {
  background-color: #40c8f7;
}

.add-to-cart-btn:hover {
  background-color: lightblue;
}

.favorite-btn {
  background-color: lightgray;
}

.favorite-btn:hover {
  background-color: gray;
}