.action-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-btn button {
  padding: .5rem 1rem;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  width: 160px;
  margin-right: 1rem;
}

.buy-btn {
  background-color: #e98192;
}

.buy-btn:hover {
  background-color: lightpink
}

.add-to-cart-btn {
  background-color: #40c8f7;
}

.add-to-cart-btn:hover {
  background-color: lightblue;
}

.favorite-btn {
  background-color: lightgray;
}

.favorite-btn:hover {
  background-color: gray;
}